.app__button {
  padding: 0.5rem 1rem;
  background-color: #304D63;
  border: 2px solid #304D63;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}

.app__button:hover {
  background: #fff;
  color: #304D63;
  transition: 0.2s;
}

.app__button__search {
  padding: 1rem;
  background: #304D63;
  border: 2px solid #304D63;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
