.result__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem 0;
  width: 100%;
}

.result__user__content {
  width: 100%;
  text-align: center;
}

.result__requests {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
